body {

    line-height: 1.8;
    color: #818181;
    margin: 0%;
    padding: 0%;


  }
  #loader{
    width:100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: #00ffd5;

  }
  .spinner {
  width: 100%;
  height: 100vh;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;


  }

  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
  }


  .photo{
    width:100%;
    height:30%
  }
  .container{
  		text-align: centre;
  }
  .text{
  				display:none;
  }
  span{
  			display:flex;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 1000;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    padding: 100px 25px;
    color: white;
    font-family: Montserrat, sans-serif;
     background-image: url("register.png");
     background-repeat: no-repeat;
     background-size: cover;
     padding: 20%;

  }

  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }


  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
    .jumbotron{
    background-image: url("register.png");
    background-repeat: no-repeat;


    }
    .container{
  				text-align: centre;
  				margin:20px;
  }
  .container-m{
  				margin:0px;
  				padding:0px;
  }


  }
.b2-1-r{
  display: none;
}

.b2-2-g{
  display: none;
}

.b2-3-b{
  display: none;
}
.col:hover{
  fill:  #00ffbf;
  animation-name: example;
  animation-duration: 3s;
}
.col1:hover{
  fill:  #ff0000;
  animation-name: example1;
  animation-duration: 3s;
}
.col2:hover{
  fill:  #00ff6a;
  animation-name: example2;
  animation-duration: 3s;
}
@keyframes example {
  0%   {fill:#ffffe6;}
  25%  {fill: #00ffc8;}
  50%  {fill:  #05dcf0}
  100% {fill: #00ffd5}
}
@keyframes example1 {
  0%   {fill:#3f298a;}
  25%  {fill: #f700ff;}
  50%  {fill:  #f00553}
  100% {fill: #ff0998}
}
@keyframes example2 {
  0%   {fill:#7b8a29;}
  25%  {fill: #d0ff00;}
  50%  {fill:  #96f005}
  100% {fill: #63ff09}
}

.btn{
  background-color: #00ffbf;
  outline: none;
  border: none;
}


.f{
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding:5%
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
  color: #989c9e !important
}
a{
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
  font-size: 21px;
  display:inline
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
